@charset="UTF-8";
body {
            font-family: 'Helvetica', sans-serif;
            background-color: #E7EBEE;
            margin: 50px;
}
h1 {
            font-family: "Parisienne", cursive;
            font-weight: 500;
			font-size: 90px;
            color: #2A4D69;
            background-color: #D2DCE4;
            padding: 10px;
            border-radius: 10px;
            text-align: center;
}
h2{
			font-weight: 600;
            font-style: normal;
            color: #2A4D69;
			text-align:center;
}
p {
            font-weight: 400;
            font-style: normal;
            color: #2A4D69;
            background-color: #FFFFFF;
            padding: 15px;
            border-radius: 8px;
            line-height: 1.6;
            margin-top: 20px;
			text-align:center;
}
h2.podnaslov {
			font-weight: 600;
            font-style: normal;
            color: #2A4D69;
			text-align:left;
}
.popisi{
			display: flex;
			justify-content: center;
			gap: 70px;
			margin-top: 20px;
}
ul, ol {
			background-color: #FFFFFF;
			border-radius: 8px;
			padding: 15px;
			padding-left: 50px;
			padding-right: 100px;
			font-weight: 400;
            font-style: normal;
            color: #2A4D69;
            line-height: 1.6;
}
ul li {
			list-style: "‒ ";
			margin-bottom: 5px;
}
ol li {
			list-style: decimal-leading-zero;
			margin-bottom: 5px;
}
span {
			float: none;
			width: 0.7em;
			font-size: 300%;
			font-family: "times new roman", courier;
			line-height: 80%;
}
.citat {
			font-weight: 400;
            font-style: normal;
            color: #2A4D69;
            background-color: #FFFFFF;
            padding: 15px;
            border-radius: 8px;
            line-height: 1.6;
            margin-top: 20px;
			text-align: center;
}
form {
            background-color: #FFFFFF;
            margin-top: 20px;
            padding: 15px;
            border-radius: 8px;
}
fieldset {
            border: 2px solid #23558D;
            border-radius: 8px;
            padding: 15px;
}
legend {
            font-weight: 600;
            color: #2A4D69;
            font-size: 23px;
            padding: 0 10px;
			text-align: center;
}
label {
            display: block;
            margin-top: 15px;
            font-weight: 500;
            color: #2A4D69;
}
select, button {
            width: 100%;
            padding: 10px;
            margin-top: 5px;
            border: 1.5px solid #23558D;
            border-radius: 6px;
            font-family: 'Helvetica', sans-serif;
}
input, datalist {
			width: 98.5%;
            padding: 10px;
            margin-top: 5px;
            border: 1.5px solid #23558D;
            border-radius: 6px;
            font-family: 'Helvetica', sans-serif;
}
input:focus, select:focus {
            outline: none;
            border-color: #23558D;
}
input:hover, select:hover {
            background-color: #E7EBEE;
}
.spol {
            display: flex;
            align-items: center;
            gap: 15px;
            margin-top: 10px;
}
input[type="radio"] {
            width: auto;
            accent-color: #23558D;
            transform: scale(1.5);
            cursor: pointer;
}
label[for="muski"], label[for="zenski"] {
            display: inline;
            font-weight: 500;
            color: #2A4D69;
}
button {
            background-color: #2A4D69;
            color: white;
            font-weight: 600;
            margin-top: 20px;
            cursor: pointer;
            border: none;
}
button:hover {
            background-color: #2A6C8F;
}
button:active {
            transform: scale(0.97);
            background-color: #2A4D69;
}
input[type="text"]::placeholder {
            color: #5C5C5C;
}
table {
            width: 100%;
			height: auto;
            border-collapse: collapse;
            margin-top: 30px;
            background-color: #FFFFFF;
            overflow: hidden;
			border-radius: 8px;
			margin-bottom: 40px;
}
thead {
            background-color: #2A4D69;
            color: white;
}
th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #2A4D69;
            color:#2A4D69;			
}
.red {
			color: #FFFFFF;
}
th {
            font-weight: 600;
            font-size: 19px;
}
tr:nth-child(even) {
            background-color: #E7EBEE;
}
td:nth-child(1) {
            font-weight: 600;
            color: #2A4D69;
}
.posebno {
            background-color: #D2DCE4;
            font-weight: bold;
			color: #2A4D69;
}
caption {
            font-weight: 600;
            font-style: normal;
            color: #2A4D69;
			text-align:center;
			font-size:23px;
            margin-bottom: 10px;
}
.container {
			width: 100%;
			margin:  auto;
			text-align: center;
}
#card {
			width: 25%;
			display: inline-block; 
			margin: 1%;
			background-color: #FFFFFF;
			border-radius: 50px 50px 0px 0px;
			padding: 10px;
			vertical-align: top;
			position: relative;  
			margin-bottom: 30px;
}
#card h2 {
			margin-bottom: 10px;
}
#card p {
			margin-top: 10px;
}
#card {
			float: center;
}
#card:hover {
			position: relative;
			top: 3px;
			right: 3px;
}
#card::after {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 5px;
			background: #2A4D69;
}
.container::after {
			display: block;
			clear: both;
}
/* === 6. vježba === */
.cards {
			width: 100%;
			text-align: center; 
}
.cards .card {
			width: 300px;
			height: auto;
			display: inline-block;
			margin: 20px;
			background-color: #D2DCE4;
			text-align: center;
			border-radius: 8px;
			padding: 10px;
			padding-bottom: 1px;
}
.cards {
			display: flex;
			justify-content: center;
}
.card img, .card iframe, .card object {
			width: 200px;
			height: 150px;
			display: block;
			margin: 10px auto;
}
.card img:hover {
			box-shadow: 0 0 3px #2A4D69;
}
.card img:active {
            transform: scale(0.97)
			}
@media (max-width: 700px) {
.popisi {
			flex-direction: column;
}	
.cards {
			display: block;
			text-align: center;
}
.card {
			float: none;
			margin: 20px auto;
}
}